<!DOCTYPE html>
<html>
<head>
  <title>BucketListr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="login">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
    <h1><%= link_to "Bucket Listr", root_path %></h1>
    <% if user_signed_in? %>
    <div id="new_item_nav">
    <%= link_to "New Item", new_item_path %>
    </div>
    <% end %>
  </nav>
  <div class="container"><br>
 <!--   <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
   <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %> -->

  <p class="notice">
  <% flash.each do |key, value| %>
      <%= value %>
  <% end %>
    </p>
  <% if user_signed_in? %>
  <% else %>
  <h1>What do you want to do before you die?</h1>
   <p class="intro">
     Bucket Listr: is an app that allows you to create a list of things
     <br>that you would like to do before you die. <br><br>
     Simply <%= link_to "sign up", new_user_registration_path, :class => 'navbar-link'  %> with your email (no verification needed), and get started today!
   </p>
   <% end %>
   
   <%= yield %>
  </div>
</body>
</html>
